
# Python virtual environments
bin/
lib/
lib64
share/
include/
pyvenv.cfg

# Python specific
__pycache__/
*.py[cod]
*$py.class

# Environments
.env

# Temporary files
temp_audio_channels/

# Output files
*_transcription.txt
*.wav

# Input video files
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.flv
*.wmv
